{% extends 'act_simulator/base.html' %}

{% block content %}

<div class = 'menu-box'>
    <h2>Select Assessments</h2>
    <p>
        This free resource generates Army Cognitive Test practise questions based on the <a href='https://practicequestions.mindmill.co.uk/'>official ones here</a>.<br>
        Features:
        <ul>
            <li>unlimited randomised questions so you can practice ad-nauseum with less chance of seeing the same question twice.</li>
            <li>tracking attempts, correct responses and time taken per correct response</li>
            <li>unlimited (but timed) sessions in each sub-test</li>
        </ul>        
        DISCLAIMER: The question archetypes in each sub-section are based on the official ACT practice resource, and only reflect the actual test to the extent that does.<br>
    </p>
    <br>
    <hr>
    <h3>Select which test you want to practise.</h3>
    <div class='menu-container'>
        <a href='/error_detection'>Error Detection</a>
        <a href='/orientation'>Orientation</a>
        <a href='/number_fluency'>Number fluency</a>
        <a href='/word_rules'>Word Rules</a>
        <a href='/deductive_reasoning'>Deductive Reasoning</a>
    </div>
    <br>
    <div class='question-box'>
        
    </div>
</div>


{% endblock %}
