{% extends 'act_simulator/base.html' %}

{% block content %}

<div class = 'menu-box'>
    <h2>Select Assessments</h2>
    <p>
        This free resource generates <strong>Army Cognitive Test</strong> practise questions based on the <a href='https://practicequestions.mindmill.co.uk/' target ='_blank'>official version here</a> (opens in a new tab).<br>
        Features:
        <ul>
            <li>unlimited randomised questions (practice ad-nauseum without question repetition)</li>
            <li>measure speed* (average time per correct response)</li>
            <li>track accuracy* (percentage responses correct)</li>
            <li>timer displayed during your session</li>
            <li>unlimited practise time</li>
            <li>unlimited sessions in each sub-test</li>
        </ul>
        <p>* Whilst test scores aren't provided by this resource, speed and accuracy are used to calculate your score on the real ACT</p>
        <p><strong>DISCLAIMER:</strong> The question archetypes in each sub-section are based on the official ACT practice resource. They only reflect the actual test to the extent that the official version does.</p><br>
    </p>
    <hr>
    <h3>Select which test you want to practise (tests open in a new tab).</h3>
    <div class='menu-container'>
        <a class = 'next' href='./error_detection' target ='_blank'>Error Detection</a>
        <a class = 'next' href='./orientation' target ='_blank'>Orientation (not supported on all mobile browsers)</a>
        <a class = 'next' href='./number_fluency' target ='_blank'>Number fluency</a>
        <a class = 'next' href='./word_rules' target ='_blank'>Word Rules</a>
        <a class = 'next' href='./deductive_reasoning' target ='_blank'>Deductive Reasoning</a>
        <a class = 'next' href='./reasoning_categories' target ='_blank'>Reasoning Categories (New)</a>
    </div>
    <br>
    <div class='question-box'>
        
    </div>
</div>


{% endblock %}
