{% extends 'act_simulator/base.html' %}

{% block question %}
    <script>
        var question_link = "../reasoning_categories"
    </script>

    <div class='question-container'>
        <p class = 'rule-name'>Sentence One</p>
        <div class = 'rule one' style='display:block'>{{rule_one}}</div>

        <p class = 'rule-name'>Sentence Two</p>
        <div class = 'rule two'style='display:block'>{{rule_two}}</div>
        
        <p class = 'rule-name'>Sentence Two</p>
        <div class = 'rule three'style='display:block'>{{rule_three}}</div>
        

        <p>{{prompt}}</p>
        
        <div class = 'reasoning-categories-item-grid-container' style='display:none'>
            <div class = 'reasoning-categories-grid'>
                {% for item in items %}
                    <div class='reasoning-categories-item-wrapper' onclick=increment_click("{{item.indicator}}") >
                        <div class='reasoning-categories-list-item'>{{item.name.one}}</div>
                        <div class='reasoning-categories-list-item'>{{item.name.two}}</div>
                        <div class='reasoning-categories-list-item'>{{item.name.three}}</div>
                        <div class='reasoning-categories-list-item'>{{item.name.four}}</div>
                    </div>
                {% endfor %}
            </div>
        </div>

    </div>

    <div class='next-button-wrapper'><div class='next' onclick=increment_click(null)>Next Step</div></div>
    <div class='next-question-wrapper'><div class='next' onclick=next_question(question_link)>Next Question</div></div>

</div>
{% endblock %}

{% block question_javascript %}
<script>

var clicks = 0;
function increment_click(indicator) {
    clicks = clicks + 1;
    if (clicks == 1) {
        document.getElementsByClassName("one")[0].style.display ='none';
        document.getElementsByClassName("two")[0].style.display = "none";
        document.getElementsByClassName("three")[0].style.display = "none";
        document.getElementsByClassName("next-button-wrapper")[0].style.display = "none";
        document.getElementsByClassName("reasoning-categories-item-grid-container")[0].style.display = "block";
        console.log(sec)
    }
    else if (clicks == 2) {
        question_end(indicator, "reasoning-categories-item-grid-container");
    }
}

function reset(){
    document.getElementById('seconds').innerHTML = 0;
    document.getElementById('minutes').innerHTML = 0;
    document.getElementById('correct').innerHTML = 0;
    document.getElementById('total').innerHTML = 0;
    document.getElementById('speed').innerHTML = 0;
    document.getElementById('speed').innerHTML = 0;
    document.cookie = "time=0";
    document.cookie = "total=0";
    document.cookie = "correct=0";
    window.location.href = "../reasoning_categories";
}

</script>
{% endblock %}

